# Dependencies
node_modules/

# Build & compiled output
out/
dist/
release/
build/search-runtime-bundle/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment & Local secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE & Editor files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.swp
*.swo

# Operating System files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Test temp dirs
.tmp-model-dl-*/
